@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&display=swap');

body {
    font-family: 'League Spartan';
}

:root {
    --black : hsl(0, 0%, 0%);
    --Dark_Gray : hsl(0, 0%, 63%);
    --White: hsl(0, 0%, 100%);
    --Very_Dark_Gray: hsl(0, 0%, 27%);
}

.rowContainer {
    display: flex;
    flex-direction: row;
}

.columnContainer {
    display: flex;
    flex-direction: column;
}

.alignCenter {
    justify-content: center;
    align-items: center;
}

p {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: var(--White);   
}

a:hover {
    color: white;
}